<html>
<head>
   
    <title>Introduction node js & bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/public/style.css" rel="stylesheet">
     <link rel="shortcut icon" href="/public/assett/logo.png" type="image/x-icon">
</head>
<body>

            <!-- Navbar -->

     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid px-5">
          <a class="navbar-brand" href="/index"><img src="/public/assett/logo.png" alt="#"></a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
              </li>
            </ul>
            <form class="d-flex me-200 px-5">
              <a class="btn text-white px-4" style="background-color: orangered;" href="/form" type="submit">Contact Me</a>
            </form>
          </div>
        </div>
    </nav>
            <!-- Akhir Navbar -->

            <!-- Form -->
    <div class="container-form-blog d-flex 
     justify-content-center">
        
    <div class="container-form">
                <p class="h1 text-center py-3">Create Post Blog</p>

                <form action="/update-blog/{{this.id}}" method="POST" enctype="multipart/form-data"> {{!-- penambahan action & method  --}}
                        <div class="mb-3">
                            <label for="inputTitle" class="form-label">Title</label>
                            <input name="title"  type="text" class="form-control" id="inputTitle" value ="{{blogs.title}}"  >       
                        </div>
  
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                            <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="3">{{blogs.content}}</textarea>       
                        </div>

                        <div class="mb-3">
                                <label for="form-control" class="form-label">Upload Image</label>
                                <input name="image" class="form-control" type="file" id="formFile">
                        </div>

                        <div class="text-end mt-5">
                            <button type="submit" class="btn bg-orange text-white">Post Edit</button>
                        </div>  
                </form>   

    </div>
    </div>
            <!-- Akhir Form -->
</body>
</html>